<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia - Campus Repository</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'no_access.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% load static %}
    <script src="{% static 'no_access.js' %}"></script>
    <style>

    </style>
</head>
<body>
    {% load static %}
    <div id="outerBody" style="background-image: url('{% static 'notAllowedBanner.png'%}');">
    </div>
</body>
</html>
